In [4]:
print("Hello, there!")

Hello, there!

Basic Input/Output
The built-in input function will read text from a terminal.

In [6]:
name = input("Enter your name")
print("Hello, ", name)

Enter your name MK

Hello,  MK

In [13]:
# weakly typed
a = 10 
print(id(a), type(a), a) # 4338090512 <class 'int'> 10

a = "ten" 
print(id(a), type(a), a) # 4391657776 <class 'str'> ten

4338090512 <class 'int'> 10
4391657776 <class 'str'> ten

In [14]:
name = "Matt"
first = name

print(id(name), id(first)) # 4391528624 4391528624

4391528624 4391528624

In [15]:
num = 1 
print(num, type(num))

num = 1.2
print(num, type(num))

1 <class 'int'>
1.2 <class 'float'>

In [16]:
# “Notice that if you change the value of the integer, it will have a different id:

cnt = 0
print(id(cnt)) # 4338090192
cnt += 1
print(id(cnt)) # 4338090224

4338090192
4338090224

In [17]:
dir("MK")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
"MK".lower()

'mk'

In [19]:
"MK".lower # <function str.lower()>

In [26]:
filename = "202401.xls"
filename.endswith(".xls")

True

In [20]:
dir(333)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [25]:
(333).conjugate()

333

In [28]:
name = ""

if name:
    print(f"The name is {name}")
else:
    print("Name is missing")

Name is missing

Type Hints

In [31]:
 def add(a: int, b: int) -> int:
     return a + b

add(1, 2) #3
# add(1, "two") # TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Lists

In [33]:
 squares = [1, 4, 9, 16, 25]

 # You can refer to an element by its index (subscript) - uses "zero-based indexing"
 print(squares[0]) #1

 # print(squares[100])    # IndexError: list index out of range
 
 # Negative indexing means start from the end
 # -1 refers to the last item, -2 refers to the second last item etc.
 print("The last item:", squares[-1])  # The last item: 25

1
The last item: 25

Python lists can indeed act like stacks when used with the append() and pop() methods, exhibiting Last-In-First-Out (LIFO) behavior.

In [53]:
todos = []

todos.append("todo1")
todos.append("todo2")
todos.append("todo3")

todo = todos.pop()

print(todo, todos) # todo3 ['todo1', 'todo2']

todo3 ['todo1', 'todo2']

In [35]:
squares = [1, 4, 9, 16, 25]

# Insert item to the END of a list:
squares.append(49)

# INSERT an item at the specified index, and shift the rest:
squares.insert(5, 36)

print(squares) # [1, 4, 9, 16, 25, 36, 49]

[1, 4, 9, 16, 25, 36, 49]

In [36]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]

d = a + b   # note that this is not an item by item addition! This is concatenation.
print(d)     # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

## Modify List - Removing elements
* remove(): Removes the first occurrence of a value
* pop(): Removes and returns the item at a specific index (default: last)

In [40]:
fruits = ["mango", "banana", "apple", "strawberry", "grapes"]

# REMOVE value:
# remove the first ocurrence of value: (Find and erase) raise ValueError if the value is not present
fruits.remove('strawberry')
# fruits.remove('NotAMember')    # ValueError: list.remove(x): x not in list

print(fruits)

# Remove by index - Option 1:
# Remove and return value at a specific index (default -1, the last), raise IndexError if the index is out of range.
lastFruit = fruits.pop()
print(f"Removed: {lastFruit}, fruits: {fruits}")  # Removed: grapes, fruits: ['mango', 'banana', 'apple']

poppedFruit = fruits.pop(1)
print(f"Removed: {poppedFruit}, fruits: {fruits}")  # Removed: banana, fruits: ['mango', 'apple']

['mango', 'banana', 'apple', 'grapes']
Removed: grapes, fruits: ['mango', 'banana', 'apple']
Removed: banana, fruits: ['mango', 'apple']

Evaluating empty list object to False

In [41]:
# empty list
items = []

# Option 1: evaluating empty list object to False
if not items:
    print("No items found.")

No items found.

## Search for an item

In [51]:
# Search for an item
fruits = ["mango", "banana", "apple", "strawberry", "grapes"]

q_key = 'grapes'
# q_key = 'aVeryDifferentFruit'
    
# v1 - Membership Operator (in)
if q_key in fruits:
    print(q_key, "Found.")
else:
    print(q_key, "Not Found.")

# v2 - index()
# return the index of the first occurrence, raises a ValueError if there is no such item.
try:
    found_index = fruits.index(q_key) # 4
    print("Index of first ocurrence:", found_index)
except ValueError:
    print(f"Value not found: {q_key}")
    
# total number of occurrences
ids = [1, 2, 1, 3, 1, 4, 2, 1, 3]
print(ids.count(1))  #4

grapes Found.
Index of first ocurrence: 4
4

## Sorting
Every Python list has a sort method that sorts it "in place".
If you don’t want to mess up your list, you can use the "sorted()" function, which returns a new list.

In [57]:
 # The list.sort() method sorts the list IN PLACE.
 # list.sort(reverse=True|False, key=myFunc)
 # Parameter 'key' is Optional. A function to specify the sorting criteria(s) (run for every item in the list)
    

 scores = [75, 66, 95, 63, 85, 60, 77]

 sortedCopy = sorted(scores)       # returns a new list

 print(id(scores), scores)         # 4396410560 [75, 66, 95, 63, 85, 60, 77]
 print(id(sortedCopy), sortedCopy) # 4396409920 [60, 63, 66, 75, 77, 85, 95]

 scores.sort() # mutator
 
 print(id(scores), scores)         # 4396410560 [60, 63, 66, 75, 77, 85, 95]

4391954496 [75, 66, 95, 63, 85, 60, 77]
4396418112 [60, 63, 66, 75, 77, 85, 95]
4391954496 [60, 63, 66, 75, 77, 85, 95]

In [60]:
 # Sort descending

 cars = ['Ford', 'BMW', 'Mitsubishi', 'Volvo']
 
 print(cars.sort(reverse=True))  # prints None (but mutates the list anyway)
 
 print(cars)                     # ['Volvo', 'Mitsubishi', 'Ford', 'BMW']

None
['Volvo', 'Mitsubishi', 'Ford', 'BMW']

# Indexing and Slicing
Python provides two constructs to pull data out of sequence-like types (lists, tuples, and even strings). 
These are the indexing and slicing constructs. 
- Indexing allows you to access single items out of a sequence, 
- slicing allows you to pull out a sub-sequence from a sequence.

## Zero-based indexing
Remember that in Python indices start at 0. If you want to pull out the first item you reference it by 0, not 1. 

## Negative Indices
Python has a cool feature where you can reference items using negative indices. 
-1 refers to the last item, -2 the second to last item, etc. 
This is commonly used to pull off the last item in a list.

Guido van Rossum, the creator of Python, tweeted to explain how to understand negative index values:
	[The] proper way to think of [negative indexing] is to reinterpret a[-X] as a[len(a)-X]
	—@gvanrossum

## Slicing sub lists 
In addition to accepting an integer to pull out a single item, a slice may be used to pull out a sub-sequence. 
Python uses the half-open interval convention. The list goes up to but does not include the end index.

In [140]:
fruits = ["mango", "banana", "apple", "strawberry", "grapes"]

first = fruits[0] # mango
last = fruits[-1] # grapes

print(first, last)

# half-open interval
sub1 = fruits[0:2] # ['mango', 'banana']
sub2 = fruits[:2]  # ['mango', 'banana']
sub3 = fruits[2:]  # ['apple', 'strawberry', 'grapes']

print(sub3)

mango grapes
['apple', 'strawberry', 'grapes']

# Tuples
Tuples are immutable sequences.
Tuples are one of the fundamental data structures in Python.

Key Characteristics:
- Ordered: Elements maintain a specific sequence, accessible by their index position (like lists).
- Immutable: Unlike lists, you cannot modify elements after creation (insertion, deletion, or changing values).
- Heterogeneous: Can hold elements of different data types within a single tuple.
- Denoted by parentheses: ()

In [66]:
# Using the tuple() built-in: tuple() or tuple(iterable)
empty1 = tuple()

scores_list = [90, 80, 100]
scores_tuple = tuple(scores_list)

print(type(scores_tuple), scores_tuple) # <class 'tuple'> (90, 80, 100)
    
# Literal Syntax
empty2 = () 

# Tuples are often used to represent a record of data such as the row of a database query
person = ('Matt', '123 North 456 East', 24) # Heterogeneous

# If there are multiple items separated by commas, then Python treats them as a tuple:
t = (3,)
print(type(t), t) # <class 'tuple'> (3,)

# Note that it is actually the comma which makes a tuple, not the optional parentheses
x = 1,2,3
print(type(x), x) # <class 'tuple'> (1, 2, 3)

<class 'tuple'> (90, 80, 100)
<class 'tuple'> (3,)
<class 'tuple'> (1, 2, 3)

Sets

A set object is an unordered collection of distinct hashable objects.

Key Features:
- Unordered: Elements don't maintain a specific sequence and are accessed by their values, not by index.
	Being an unordered collection, sets do not record element position or order of insertion. 
	Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.
- Unique: Contains no duplicate values. Each element can only occur once within the set.
- Mutable: You can add or remove elements after set creation, unlike tuples, but their values remain unique.
	The contents can be changed using methods like add() and remove(). 
	Since it is mutable, it has no hash value and cannot be used as either a dictionary key or as an element of another set.
- Heterogeneous: Can hold elements of different data types within a single set.
- Denoted by curly braces: {}

In [73]:
# Empty set using set constructor: 
my_set = set()

# From other iterables: Use set(iterable) to remove duplicates from existing lists or strings.
items = ["i1", "i2", "i1","i3", "i3", "i2","i1"]
distinct_items = set(items)
print(type(items), items) # <class 'list'> ['i1', 'i2', 'i1', 'i3', 'i3', 'i2', 'i1']
print(type(distinct_items), distinct_items) # <class 'set'> {'i2', 'i3', 'i1'}

# usecase: remove duplicate letters from a string
code = "aABbCdeeE"
letters = set(code.lower())
print(letters) # {'b', 'a', 'c', 'd', 'e'}

# Using a comma-separated list of elements within braces: 
basket = {"apple", "banana", "orange"}

<class 'list'> ['i1', 'i2', 'i1', 'i3', 'i3', 'i2', 'i1']
<class 'set'> {'i2', 'i3', 'i1'}
{'b', 'a', 'c', 'd', 'e'}

In [70]:
# Membership check: 
# Use the in operator to check if an element exists:

basket = {"apple", "banana", "orange"}

if "banana" in basket:
    print("Found")

Found

# Dictionary Type

In [95]:
# empty v1- Use the type constructor: dict()
empty_dict = dict()

# empty v2 - literal syntax
empty = {}

# Use the type constructor: named parameters
scores1 = dict(Potter=80, Granger=100)

# Use the type constor with an iterable of key-value pairs
scores2 = dict([('Potter', 80), ('Granger', 100)])

# Use a comma-separated list of key: value pairs within braces:
scores3 = {'Potter': 80, 'Granger': 100} 

# Dictionaries compare equal if and only if they have the same (key, value) pairs (regardless of ordering).
print(scores1 == scores2 == scores3)   # True
print(scores3)   # {'Potter': 80, 'Granger': 100}


ranks = {1: 'Granger', 3: 'Potter'}

print(ranks) # {1: 'Granger', 3: 'Potter'}

True
{'Potter': 80, 'Granger': 100}
{1: 'Granger', 3: 'Potter'}

In [96]:
# A. think as the representation of a simple object (excel row)
person = {'name': 'MK', 'born': 81, 'gender': 'M'}
 
# B. think as a collection of data for ONE attribute (excel column)
born = {"MK": 81, "MSL": 14, "BK": 83}
city_population = {7: 1430539, 10: 1069260, 34: 11076840, 35: 3431204}

print(type(city_population), city_population) # <class 'dict'> {7: 1430539, 10: 1069260, 34: 11076840, 35: 3431204}

<class 'dict'> {7: 1430539, 10: 1069260, 34: 11076840, 35: 3431204}

In [101]:
movie =   {
    "title": "The Godfather",
    "year": 1972,
    "genres": ["Crime", "Drama"],
    "ratings": {
        "IMDB": 9.2,
        "Rotten Tomatoes": 98
    }
}


print(movie["genres"])           # ['Crime', 'Drama']
print(movie["genres"][0])        # Crime

print(movie["ratings"])          # {'IMDB': 9.2, 'Rotten Tomatoes': 98}
print(movie["ratings"]["IMDB"])  # 9.2

['Crime', 'Drama']
Crime
{'IMDB': 9.2, 'Rotten Tomatoes': 98}
9.2

## Accessing Values

In [99]:
tweet = { 
    "user": "joelgrus", 
    "text": "Data Science is Awesome", 
    "retweet_count": 100,
    "hashtags": ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

# Access an item using the key by performing a lookup with an index operation:
print(tweet['hashtags'])      # ['#data', '#science', '#datascience', '#awesome', '#yolo']
print(tweet['hashtags'][0])   # '#data'

['#data', '#science', '#datascience', '#awesome', '#yolo']
#data

In [106]:
# if you try to access a key that does not exist in the dictionary, Python will throw an exception:

author = {
    'name': 'J.K. Rowling',
    'age': 56,
    'country': 'United Kingdom'
}

# print(author['totalbooks']) # KeyError: 'totalbooks'

# Dictionaries have a method called get that takes a key and a default value.
# If the key appears in the dictionary, get returns the corresponding value; otherwise it returns the default value.

name = author.get('name', 'NA')
bookcnt = author.get('totalbooks', -1)
print(name, bookcnt)  # J.K. Rowling -1

J.K. Rowling -1

In [123]:
# in operator allows you to quickly check if a key is in a dictionary:
world_data = {
    "USA": {"capital": "Washington, D.C.", "population": 331002651},
    "China": {"capital": "Beijing", "population": 1444216107},
    "India": {"capital": "New Delhi", "population": 1380004385},
    "Brazil": {"capital": "Brasília", "population": 212559417},
    "France": {"capital": "Paris", "population": 65273511},
    "South Africa": {"capital": "Pretoria", "population": 59308690}
}

if 'Brazil' in world_data:
    print(world_data['Brazil'])
else:
    print("Key not found")

{'capital': 'Brasília', 'population': 212559417}

In [104]:
# The len function works on dictionaries; it returns the number of key-value pairs:
car = {'year': 2019, 'make': 'Volkswagen', 'model': 'T-ROC', 'color': 'Orange'}
print(len(car)) # 4

4

In [118]:
# Tuples vs Dictionaries representing DB Rows

user1 = {
    "id": 1, 
    "name": "Alice", 
    "email": "alice@example.com", 
    "roles": ["user", "admin"]
}

user2 = (1, "Alice", "alice@example.com", ["user", "admin"])

print(type(user1), user1) # <class 'dict'>
print(type(user2), user2) # <class 'tuple'>

role1 = user1['roles'][0] # user
role2 = user2[3][0]       # user

print(role1, role2)

<class 'dict'> {'id': 1, 'name': 'Alice', 'email': 'alice@example.com', 'roles': ['user', 'admin']}
<class 'tuple'> (1, 'Alice', 'alice@example.com', ['user', 'admin'])
user user

## Dictionary iteration
Dictionaries also support iteration using the for statement. By default, when you iterate over a dictionary, you get back the keys

To retrieve both key and value during iteration, use the .items() method, which returns a view

In [126]:
world_data = {
    "USA": {"capital": "Washington, D.C.", "population": 331002651},
    "China": {"capital": "Beijing", "population": 1444216107},
    "India": {"capital": "New Delhi", "population": 1380004385},
    "Brazil": {"capital": "Brasília", "population": 212559417},
    "France": {"capital": "Paris", "population": 65273511},
    "South Africa": {"capital": "Pretoria", "population": 59308690}
}

for k in world_data:
    print(k, world_data[k]['capital'])
    
for k, v in world_data.items():
    print(k, v)

USA Washington, D.C.
China Beijing
India New Delhi
Brazil Brasília
France Paris
South Africa Pretoria
USA {'capital': 'Washington, D.C.', 'population': 331002651}
China {'capital': 'Beijing', 'population': 1444216107}
India {'capital': 'New Delhi', 'population': 1380004385}
Brazil {'capital': 'Brasília', 'population': 212559417}
France {'capital': 'Paris', 'population': 65273511}
South Africa {'capital': 'Pretoria', 'population': 59308690}

# range() Function
The range() function in Python is a versatile tool for generating sequences of numbers. 
It offers a concise and efficient way to loop through a series of values within a specific range. 

## Key Features:
- Generates a sequence of integers within a specified range.
- Optional arguments: Allows customizing the starting point, stopping point, and step size for the sequence.
- Immutable: Returns a range object, not a list directly.

## Syntax:
- range(stop)
- range(start, stop)
- range(start, stop, step)

In [79]:
r = range(3)
print(type(r), r) # <class 'range'> range(0, 3)

<class 'range'> range(0, 3)

# For Loop

In [78]:
for i in [1, 2, 3]:
    print("loop through a list", i)
    
    
# Looping with an index
# Note that the below code is a code smell. It indicates that you are not using Python as you should.
scores = [75, 90, 80]
for i in range(len(scores)): # 75, 90, 80
    print(scores[i])

# The enumerate function returns a tuple of (index,item) for every item in the sequence:
for i, v in enumerate(scores):
    print(i, v)



for i in range(3):          # 0, 1, 2
    print("range(3):", i)

for i in range(10, 15):     # 10, 11, 12, 13, 14
    print("range(10, 15):", i)

for i in range(100, 110, 2):     # 100, 102, 104, 106, 108
    print("range(100, 110, 2):", i)

loop through a list 1
loop through a list 2
loop through a list 3
75
90
80
0 75
1 90
2 80
range(3): 0
range(3): 1
range(3): 2
range(10, 15): 10
range(10, 15): 11
range(10, 15): 12
range(10, 15): 13
range(10, 15): 14
range(100, 110, 2): 100
range(100, 110, 2): 102
range(100, 110, 2): 104
range(100, 110, 2): 106
range(100, 110, 2): 108

# While Loop
Python will let you loop over a block of code while a condition holds. 
A while loop is followed by an expression that evaluates to True or False. Then, a colon follows it. The indented block of code will continue to repeat as long as the expression evaluates to True. This allows you to easily create an infinite loop.

Typically, if you have an object that supports iteration, you use a for loop to iterate over the items. You use while loops when you don't have easy access to an iterable object.

In [87]:
n = 3
while n>0:
    print(n)
    n -= 1

3
2
1

## Exercise: 
Create a list with the names of friends and colleagues. Search for the name Bob using a for loop. Print not found if you didn't find it.

In [86]:
# TODO case-sensitivity
names = ['Alice', 'Bob', 'Charlie', 'Danielle', 'Erica']
q = "bob"
if q in names:
    print("Found")
else:
    print("Not Found")

Not Found

# Functions

In [134]:
# a function with no parameters
def greet():
    print("Hi!")


def is_odd(n):
    return n % 2 == 1

def add(x, y):
    return x + y

# Type Hints
def sum(a: int, b: int) -> int:
    return a + b


# Default parameters
def drawLine(cnt, c="*"):
    for i in range(cnt):
        print(c, end="")
    print("")


greet()

x = input("Enter a positive integer:")

if is_odd(int(x)):
    print("Odd number:", x)
    
print(add(3,5))
print(sum(3,5))

drawLine(10)
drawLine(5, "-")

Hi!

Enter a positive integer: 5

Odd number: 5
8
8
**********
-----

# Classes

### What are Classes?
- Blueprints for Objects: 
	Classes serve as templates or blueprints for creating objects, which are instances of those classes.
- Encapsulating Data and Behavior: 
	They encapsulate both data (attributes) and the operations that can be performed on that data (methods).
- Data Abstraction: 
	Hide implementation details and provide a clear interface for interacting with objects.
- Organizing Code and Modeling Real-World Entities: 
	Classes promote code reusability, maintainability, and help model real-world concepts effectively.




“Many object-oriented languages such as C++, Java, and Python use classes to define what state an object can hold and the methods to alter that state. 

Strings, dictionaries, files, and integers are all objects. Even functions are objects. In Python, almost everything is an object. 
In Python, str is the name of the class used to store strings. The str class defines the methods of strings. 
You can create an instance of the str class, b, by using Python’s literal string syntax:

	b = "I'm a string”

You may hear, 
- “b is a string”, 
- “b is an object”, 
- “b is an instance of a string”. 

The latter is perhaps the most specific. But, b is not a string class.

## Defining a Class
It is said that Python comes with “batteries included”—it has libraries and classes predefined for your use. These classes tend to be generic. You can define your own classes that deal specifically with your problem domain.

First of all, classes are not always needed in Python. You should give some thought to whether you need to define a class or whether a function (or group of functions) would be sufficient.

Once you have decided that you want to model something with a class, ask yourself the following questions:

	• Does it have a name?
	• What are the properties that is has?
	• Are these properties constant between instances of the class? ie:
		○ Which of these properties are common to the class?
		○ Which of these properties are unique to each member?
	• What actions does it do?


## Attributes:
- Instance Attributes: Variables defined within a class that store data specific to each object.
- Class Attributes: Variables shared by all instances of the class.


## Methods
Methods are functions that are attached to a class. 
Instead of calling the method by itself, you need to call it on an instance of the class.

### The first parameter: self
The first parameter of a method is always self, referring to the current object.
As in Modula-3, there are no shorthands for referencing the object’s members from its methods: 
The method is declared with an explicit first argument representing the object, which is provided implicitly by the call if called using an object: object.method() (resembling Go pointer receiver?)

	def payroll(self):
	    return self.hours_worked * self.rate


## Constructor: <code>__init__()</code>
A special method called when an object is created to initialize its attributes.
A constructor is called when you create an instance of a class. 
If you consider a class to be a factory that provides a template or blueprint for instances, then the constructor is what initializes the state for the instances. 

The constructor takes an instance as input (the self parameter), and updates it inside the method. Python takes care of passing around the
instance for us. 

The attributes unique to an instance are put in the constructor.

## No Access Modifiers
Python doesn't have the notion of access modifiers, such as private, protected, and public, to restrict access to attributes and methods in a class. In Python, the distinction is between public and non-public class members.If you want to signal that a given attribute or method is non-public, then you should use the well-established Python convention of prefixing the name with an underscore (_).
Note that this is just a convention. 
It doesn't stop you and other programmers from accessing the attributes using dot notation, as in obj._attr. 
However, it's bad practice to violate this convention.

In [141]:
class Box:
    
    # Constructor
    # Note that the constructor takes an instance as input (the self parameter)
    def __init__(self, capacity):
        # define instance variables in the constructor body
        self.capacity = capacity
        self.size = 0               # default initialization, not using constructor parameters.
    
    def load(self, amount):
        if self.size + amount <= self.capacity:
            # print("Loading", amount)
            self.size += amount
    
 
    # Called by str(object) and the built-in functions format() and print()
    # to compute the “informal” or nicely printable string representation of an object.
    def __str__(self):
        return f"Box(capacity:{self.capacity} size:{self.size})"
    

# Create a new instance of the class and assign this object to the local a variable box01
box01 = Box(10)
box01.load(3)
print(box01) # Box(capacity:10 size:3)

Box(capacity:10 size:3)